{% extends 'base_auth.html' %}

{% block head %}
<title>Signup</title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create Cimex Account</h1>
                  </div>
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="alert alert-danger">
                      {{ messages[0] }}
                    </div>
                  {% endif %}
                  {% endwith %}
                  <form class="user" action='/signup' method='POST'>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" name="first_name" id="first_name" placeholder="First Name">
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" name="last_name" id="last_name" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" name="email" id="email"  placeholder="Email Address">
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 mb-3 mb-sm-0">
                        <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Password">
                      </div>
                    </div>
                    <input class="btn btn-primary btn-user btn-block" type='submit' value='Create Account'>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
